/* styles.css */
body, html {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

header {
    background-color: #005f73;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}

.container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
    border-radius: 8px;
}

.logo {
    background: none !important;
    border: none !important;
    display: block;
    margin: auto;     /* Center the logo */
    width: 150px;     /* Adjust as necessary */
    height: auto;
}


h1, h2 {
    margin: 0 0 20px 0;
}

input[type="file"] {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.btn {
    background-color: #00b4d8;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    margin: 10px 0;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #0096c7;
}

.result {
    font-size: 16px;
    color: #333;
    margin: 5px 0;
}

.success {
    color: #119822;
}

.error {
    color: #cc0000;
}

a {
    color: #0077b6;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.result:last-of-type {
    margin-bottom: 20px;
}

.description-container {
    background-color: #e7e7e7; /* Light grey background for the container */
    border-radius: 8px;
    padding: 20px;
    margin: 20px auto; /* Adds space above and below the container */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Adds a subtle shadow for depth */
    max-width: 800px; /* Adjust the width as necessary */
    font-size: 18px; /* Increase the font size as needed */
}

.description-container p {
    margin: 0;
    color: #333;
    line-height: 1.6; /* Adjust line height for better readability */
    font-size: 23px; /* Increase the font size as needed */
}
